## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

dist: xenial

os:
  - linux
  #- osx

julia:
  - 1.5
  - nightly
  
branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

env:
  - JULIA_CMDSTAN_HOME="$HOME/cmdstan-2.24.0/"
  
#before_install:
#  - OLDWD=`pwd`
#  - cd ~
#  - wget https://github.com/stan-dev/cmdstan/releases/download/v2.24.0/cmdstan-2.24.0.tar.gz
#  - tar -xzpf cmdstan-2.24.0.tar.gz
# - make -C $JULIA_CMDSTAN_HOME build
#  - cd $OLDWD

notifications:
  email: false
  
git:
  depth: 99999999
  
jobs:
  include:
    - stage: "Documentation"
      julia: 1.5
      os: linux
      script:
       - julia --project=docs -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
       - julia --project=docs --color=yes docs/make.jl
      after_success: skip
  allow_failures:
    - julia: nightly
    - os: osx
      
after_success:
  - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
  