## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia

os:
  - linux
  #- osx
  
julia:
  - 1.0
  #- 1.1
  #- nightly
  
notifications:
  email: false

git:
  depth: 99999999

matrix:
  allow_failures:
    - os: osx
    - julia: 1.1, nightly

branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
    
jobs:
  include:
    - stage: Documentation
      julia: 1.0
      os: linux
      script:
        - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
        - cd $HOME; if [[ ! -d cmdstan ]]; then git clone https://github.com/stan-dev/cmdstan.git; fi
        - cd $HOME/cmdstan; git checkout v2.18.0; make stan-update; make build
        - export JULIA_CMDSTAN_HOME=$HOME/cmdstan
        - cd $TRAVIS_BUILD_DIR
        - julia --project=docs -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs --color=yes docs/make.jl
      after_success: skip

# before_script:
#   - julia -e 'using Pkg; pkg"up"'

after_success:
  - julia --project=test/coverage -e 'using Pkg; Pkg.instantiate()'
  - julia --project=test/coverage test/coverage/coverage.jl
